INITIALIZATION

In [2]:
# Tải các thư viện
%pip install pandas

Requirement already satisfied: pandas in f:\apps\miniconda3\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in f:\apps\miniconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\apps\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\apps\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in f:\apps\miniconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in f:\apps\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Nhập các thư viện
import pandas as pd

LOADING RAW DATA

In [30]:
# Lấy dữ liệu thô đã lưu trước
commits_df = pd.read_csv('data_raw/commits.csv')
contributors_df = pd.read_csv('data_raw/contributors.csv')
issues_df = pd.read_csv('data_raw/issues.csv', parse_dates=['created_at', 'closed_at'])
pull_requests_df = pd.read_csv('data_raw/pull_requests.csv', parse_dates=['created_at', 'merged_at', 'closed_at'])
languages_df = pd.read_csv('data_raw/languages.csv')
files_df = pd.read_csv('data_raw/files.csv')

DATA CLEANING & PROCESSING

CLEANSE OF COMMITS

In [15]:
# Kiểm tra chung
commits_df

,sha,date,author,message,files_changed
0,9b6d95c507ce1dbd2c9a368040a2fe5aede08c31,2023-12-30 02:14:39+00:00,Anuken,Bigger stream packet size,1
1,33178c16357ec74094c018ea43fd7e24598419e5,2023-12-29 14:48:05+00:00,Anuken,Added launch hint for Erekir,2
2,d1d1454a5527cdf68cd9f78f147d57b0338c65bd,2023-12-28 21:36:03+00:00,Anuken,Merge remote-tracking branch 'origin/master',2
3,288ab37e6f330b456f6db79fa527dfac1d034079,2023-12-28 21:35:54+00:00,Anuken,Fixed derelict break hint persisting forever,1
4,6ce59b74bd46afb78cf543d89e7fd664a6f42e22,2023-12-25 13:56:59+00:00,a-big-fish-fish,Update servers_v7.json (#9408),1
...,...,...,...,...,...
1344,b57cde71482dc2797d473710f5c4ab4cdfb69a22,2023-01-07 16:29:46+00:00,Garen7,Fixes polies helping the enemy team in pvp (#8...,1
1345,a5fd29e56d03171c5b959a0e1b5820bde72c4f26,2023-01-07 16:28:01+00:00,buthed010203,Fix crash when toString returns null value (#8...,2
1346,c0b819ec9b53dde521ea84080ec0d264ce6e5f01,2023-01-07 16:27:15+00:00,Anuken,Fixed #7952,1
1347,30e36d5640030e56c5f002f2274ce57ca19b360b,2023-01-07 16:24:02+00:00,Anuken,Merge remote-tracking branch 'origin/master',2
1348,0582ba1c47968c76db85a02a0c27745705b8bd36,2023-01-07 16:23:55+00:00,Anuken,Oct now has an octagon shield,3

In [16]:
print('Raw data before cleaning: ')
print(commits_df.isnull().sum())
print(commits_df.dtypes)

Raw data before cleaning:
sha              0
date             0
author           0
message          0
files_changed    0
dtype: int64
sha              object
date             object
author           object
message          object
files_changed     int64
dtype: object

In [17]:
# Xử lí dữ liệu
commits_df = commits_df.dropna(subset=['sha', 'author'])
commits_df['message'] = commits_df['message'].fillna('')
commits_df = commits_df.drop_duplicates(subset='sha')

commits_df['date'] = pd.to_datetime(commits_df['date'])
commits_df.sort_values('date', inplace= True)
commits_df = commits_df.reset_index(drop= True)

commits_df = commits_df.drop('sha', axis = 1)

In [18]:
# Kiểm tra dữ liệu sau khi xử lí
commits_df

,date,author,message,files_changed
0,2023-01-07 16:23:55+00:00,Anuken,Oct now has an octagon shield,3
1,2023-01-07 16:24:02+00:00,Anuken,Merge remote-tracking branch 'origin/master',2
2,2023-01-07 16:27:15+00:00,Anuken,Fixed #7952,1
3,2023-01-07 16:28:01+00:00,buthed010203,Fix crash when toString returns null value (#8...,2
4,2023-01-07 16:29:46+00:00,Garen7,Fixes polies helping the enemy team in pvp (#8...,1
...,...,...,...,...
1344,2023-12-25 13:56:59+00:00,a-big-fish-fish,Update servers_v7.json (#9408),1
1345,2023-12-28 21:35:54+00:00,Anuken,Fixed derelict break hint persisting forever,1
1346,2023-12-28 21:36:03+00:00,Anuken,Merge remote-tracking branch 'origin/master',2
1347,2023-12-29 14:48:05+00:00,Anuken,Added launch hint for Erekir,2
1348,2023-12-30 02:14:39+00:00,Anuken,Bigger stream packet size,1

In [19]:
print("Data after cleaning:")
print(commits_df.isnull().sum())
print(commits_df.dtypes)

Data after cleaning:
date             0
author           0
message          0
files_changed    0
dtype: int64
date             datetime64[ns, UTC]
author                        object
message                       object
files_changed                  int64
dtype: object

In [20]:
# Lưu dữ liệu đã xử lí
commits_df.to_csv('data_cleaned/commits.csv', index= False)

CLEANSE OF CONTRIBUTORS

In [21]:
# Kiểm tra chung
contributors_df

,login,commits,location,avatar_url
0,Anuken,12032,NaN,https://avatars.githubusercontent.com/u/101000...
1,Quezler,416,Netherlands,https://avatars.githubusercontent.com/u/317927...
2,Epowerj,353,NaN,https://avatars.githubusercontent.com/u/294501...
3,MEEPofFaith,307,Rapidly approaching your location. This is a t...,https://avatars.githubusercontent.com/u/543014...
4,Prosta4okua,267,Ukraine,https://avatars.githubusercontent.com/u/314853...
...,...,...,...,...
376,hexagonrecursion,1,Milky Way,https://avatars.githubusercontent.com/u/526218...
377,0Nera,1,Moscow,https://avatars.githubusercontent.com/u/715364...
378,ARYDESTROYER,1,NaN,https://avatars.githubusercontent.com/u/317764...
379,Arzxq,1,NaN,https://avatars.githubusercontent.com/u/960669...
380,Atan599,1,NaN,https://avatars.githubusercontent.com/u/583745...

In [46]:
print("Contributors data before cleaning:")
print(contributors_df.isnull().sum())
print(contributors_df.dtypes)

Contributors data before cleaning:
login                   0
commits                 0
location                0
avatar_url              0
percent_contribution    0
dtype: int64
login                    object
commits                   int64
location                 object
avatar_url               object
percent_contribution    float64
dtype: object

In [23]:
# Xử lí dữ liệu
contributors_df = contributors_df.dropna(subset=['login', 'avatar_url'])
contributors_df = contributors_df.drop_duplicates(subset='login')

contributors_df['location'] = contributors_df['location'].str.lower()
contributors_df['location'] = contributors_df['location'].fillna('unknown')

total_commits = contributors_df['commits'].sum()
contributors_df['percent_contribution'] = (contributors_df['commits'] / total_commits) * 100

In [24]:
# Kiểm tra dữ liệu sau khi xử lí
contributors_df

,login,commits,location,avatar_url,percent_contribution
0,Anuken,12032,unknown,https://avatars.githubusercontent.com/u/101000...,70.440841
1,Quezler,416,netherlands,https://avatars.githubusercontent.com/u/317927...,2.435455
2,Epowerj,353,unknown,https://avatars.githubusercontent.com/u/294501...,2.066624
3,MEEPofFaith,307,rapidly approaching your location. this is a t...,https://avatars.githubusercontent.com/u/543014...,1.797319
4,Prosta4okua,267,ukraine,https://avatars.githubusercontent.com/u/314853...,1.563140
...,...,...,...,...,...
376,hexagonrecursion,1,milky way,https://avatars.githubusercontent.com/u/526218...,0.005854
377,0Nera,1,moscow,https://avatars.githubusercontent.com/u/715364...,0.005854
378,ARYDESTROYER,1,unknown,https://avatars.githubusercontent.com/u/317764...,0.005854
379,Arzxq,1,unknown,https://avatars.githubusercontent.com/u/960669...,0.005854
380,Atan599,1,unknown,https://avatars.githubusercontent.com/u/583745...,0.005854

In [25]:
print('Data after cleaning: ')
print(contributors_df.isnull().sum())
print(contributors_df.dtypes)

Data after cleaning:
login                   0
commits                 0
location                0
avatar_url              0
percent_contribution    0
dtype: int64
login                    object
commits                   int64
location                 object
avatar_url               object
percent_contribution    float64
dtype: object

In [26]:
# Lưu dữ liệu đã xử lí
contributors_df.to_csv('data_cleaned/contributors.csv', index= False)

CLEANSE OF ISSUES

In [31]:
# Kiểm tra chung
issues_df

,number,state,contributor,created_at,closed_at,title,labels
0,9945,open,Galahadagent,2024-06-13 19:11:29+00:00,NaT,While using pixelated graphics messages aren't...,['bug']
1,9944,closed,Vato8090,2024-06-13 12:38:21+00:00,2024-06-13 17:03:44+00:00,Problem,['bug']
2,9942,closed,Redo11,2024-06-13 02:30:48+00:00,2024-06-13 17:18:33+00:00,"Processors get enabled when changing ""map area...",['bug']
3,9941,closed,Makaim20,2024-06-13 00:49:44+00:00,2024-06-13 01:59:54+00:00,Проблема с сохранениями,['bug']
4,9939,closed,Gordost33,2024-06-12 14:04:22+00:00,2024-06-12 21:39:52+00:00,Spawn sector bug,['bug']
...,...,...,...,...,...,...,...
4326,5,closed,skybldev,2017-12-08 04:12:07+00:00,2018-01-18 23:23:26+00:00,Enemy AI stuck in wall AND going wrong way,['unlabeled']
4327,4,closed,skybldev,2017-12-07 02:29:42+00:00,2017-12-30 00:41:01+00:00,[Implemented][Suggestion] A few suggestions th...,['unlabeled']
4328,3,closed,erikbsap,2017-10-07 20:27:05+00:00,2017-10-16 08:13:35+00:00,Doesn't load,['unlabeled']
4329,2,closed,LegusX,2017-05-10 01:57:20+00:00,2017-05-10 12:26:16+00:00,Can't change weapons?,['unlabeled']
4330,1,closed,LegusX,2017-05-10 01:47:28+00:00,2017-05-10 23:15:33+00:00,Enemies get stuck on walls.,['unlabeled']

In [32]:
print(issues_df.isnull().sum())
print(issues_df.dtypes)

number         0
state          0
contributor    0
created_at     0
closed_at      1
title          0
labels         0
dtype: int64
number                       int64
state                       object
contributor                 object
created_at     datetime64[ns, UTC]
closed_at      datetime64[ns, UTC]
title                       object
labels                      object
dtype: object

In [36]:
# Xử lí dữ liệu

issues_df = issues_df.drop_duplicates(subset='number')
issues_df['title'] = issues_df['title'].str.lower()

In [38]:
# Kiểm tra dữ liệu đã xử lí
issues_df

,number,state,contributor,created_at,closed_at,title,labels
0,9945,open,Galahadagent,2024-06-13 19:11:29+00:00,NaT,while using pixelated graphics messages aren't...,['bug']
1,9944,closed,Vato8090,2024-06-13 12:38:21+00:00,2024-06-13 17:03:44+00:00,problem,['bug']
2,9942,closed,Redo11,2024-06-13 02:30:48+00:00,2024-06-13 17:18:33+00:00,"processors get enabled when changing ""map area...",['bug']
3,9941,closed,Makaim20,2024-06-13 00:49:44+00:00,2024-06-13 01:59:54+00:00,проблема с сохранениями,['bug']
4,9939,closed,Gordost33,2024-06-12 14:04:22+00:00,2024-06-12 21:39:52+00:00,spawn sector bug,['bug']
...,...,...,...,...,...,...,...
4326,5,closed,skybldev,2017-12-08 04:12:07+00:00,2018-01-18 23:23:26+00:00,enemy ai stuck in wall and going wrong way,['unlabeled']
4327,4,closed,skybldev,2017-12-07 02:29:42+00:00,2017-12-30 00:41:01+00:00,[implemented][suggestion] a few suggestions th...,['unlabeled']
4328,3,closed,erikbsap,2017-10-07 20:27:05+00:00,2017-10-16 08:13:35+00:00,doesn't load,['unlabeled']
4329,2,closed,LegusX,2017-05-10 01:57:20+00:00,2017-05-10 12:26:16+00:00,can't change weapons?,['unlabeled']
4330,1,closed,LegusX,2017-05-10 01:47:28+00:00,2017-05-10 23:15:33+00:00,enemies get stuck on walls.,['unlabeled']

In [39]:
print("Data after cleaning:")
print(issues_df.isnull().sum())
print(issues_df.dtypes)

Data after cleaning:
number         0
state          0
contributor    0
created_at     0
closed_at      1
title          0
labels         0
dtype: int64
number                       int64
state                       object
contributor                 object
created_at     datetime64[ns, UTC]
closed_at      datetime64[ns, UTC]
title                       object
labels                      object
dtype: object

In [8]:
# Lưu dữ liệu đã xử lí
issues_df.to_csv('data_cleaned/issues.csv', index= False)

CLEANSE OF PULL REQUESTS

In [33]:
# Kiểm tra chung
pull_requests_df

,number,state,created_at,merged_at,closed_at,title
0,9948,open,2024-06-14 15:01:37+00:00,NaT,NaT,Not privileged setrate
1,9947,open,2024-06-13 20:36:52+00:00,NaT,NaT,ConsumeItemList
2,9946,open,2024-06-13 19:12:32+00:00,NaT,NaT,Update servers_v7.json
3,9943,open,2024-06-13 03:15:51+00:00,NaT,NaT,"Sensors, SetProp, and SetRule"
4,9940,open,2024-06-12 15:43:09+00:00,NaT,NaT,Logic Refactor
...,...,...,...,...,...,...
5514,13,closed,2017-12-12 01:22:25+00:00,2017-12-12 04:48:59+00:00,2017-12-12 04:48:59+00:00,Grammatical correction for remaining enemies l...
5515,12,closed,2017-12-11 19:28:55+00:00,NaT,2017-12-11 23:09:07+00:00,Update Tile.java
5516,11,closed,2017-12-11 19:06:21+00:00,NaT,2017-12-11 19:23:42+00:00,Update Block.java
5517,8,closed,2017-12-09 18:46:30+00:00,2017-12-09 20:08:12+00:00,2017-12-09 20:08:12+00:00,TODO list to keep track of some needed things
5518,7,closed,2017-12-09 04:02:10+00:00,2017-12-09 04:17:27+00:00,2017-12-09 04:17:27+00:00,Pull request to update README on original branch

In [34]:
print(pull_requests_df.isnull().sum())
print(pull_requests_df.dtypes)

number           0
state            0
created_at       0
merged_at     2064
closed_at      180
title            0
dtype: int64
number                      int64
state                      object
created_at    datetime64[ns, UTC]
merged_at     datetime64[ns, UTC]
closed_at     datetime64[ns, UTC]
title                      object
dtype: object

In [35]:
# Xử lí dữ liệu

pull_requests_df = pull_requests_df.dropna(subset=['number'])
pull_requests_df = pull_requests_df.drop_duplicates(subset='number')

pull_requests_df['title'] = pull_requests_df['title'].str.lower()

In [36]:
# Kiểm tra dữ liệu sau khi xử lí
pull_requests_df

,number,state,created_at,merged_at,closed_at,title
0,9948,open,2024-06-14 15:01:37+00:00,NaT,NaT,not privileged setrate
1,9947,open,2024-06-13 20:36:52+00:00,NaT,NaT,consumeitemlist
2,9946,open,2024-06-13 19:12:32+00:00,NaT,NaT,update servers_v7.json
3,9943,open,2024-06-13 03:15:51+00:00,NaT,NaT,"sensors, setprop, and setrule"
4,9940,open,2024-06-12 15:43:09+00:00,NaT,NaT,logic refactor
...,...,...,...,...,...,...
5514,13,closed,2017-12-12 01:22:25+00:00,2017-12-12 04:48:59+00:00,2017-12-12 04:48:59+00:00,grammatical correction for remaining enemies l...
5515,12,closed,2017-12-11 19:28:55+00:00,NaT,2017-12-11 23:09:07+00:00,update tile.java
5516,11,closed,2017-12-11 19:06:21+00:00,NaT,2017-12-11 19:23:42+00:00,update block.java
5517,8,closed,2017-12-09 18:46:30+00:00,2017-12-09 20:08:12+00:00,2017-12-09 20:08:12+00:00,todo list to keep track of some needed things
5518,7,closed,2017-12-09 04:02:10+00:00,2017-12-09 04:17:27+00:00,2017-12-09 04:17:27+00:00,pull request to update readme on original branch

In [37]:
print(pull_requests_df.isnull().sum())
print(pull_requests_df.dtypes)

number           0
state            0
created_at       0
merged_at     2064
closed_at      180
title            0
dtype: int64
number                      int64
state                    category
created_at    datetime64[ns, UTC]
merged_at     datetime64[ns, UTC]
closed_at     datetime64[ns, UTC]
title                      object
dtype: object

In [38]:
# Lưu dữ liệu đã xử lí
pull_requests_df.to_csv('data_cleaned/pull_requests.csv', index= False)

CLEANSE OF PROGRAMMING LANGUAGES

In [39]:
# Kiểm tra chung
languages_df

     language    lines
0        Java  5322246
1        GLSL    23164
2  JavaScript    11850
3       Shell     1483
4        Ruby     1140
5   Batchfile       31

In [40]:
# Xử lí dữ liệu
languages_df['language'] = languages_df['language'].apply(lambda x: x if x == 'Java' else 'Other')
languages_df = languages_df.groupby('language', as_index=False).sum()

In [41]:
# Kiểm tra dữ liệu sau khi xử lí
languages_df

  language    lines
0     Java  5322246
1    Other    37668

In [42]:
# Lưu dữ liệu đã xử lí
languages_df.to_csv('data_cleaned/languages.csv')

CLEANSE OF FILES

In [51]:
# Kiểm tra chung
files_df

                                                   path   size
0                                            .gitignore   2563
1                                       CONTRIBUTING.md   5816
2                                             ISSUES.md   3289
3                                               LICENSE  32422
4                                             README.md   3760
...                                                 ...    ...
3310  core/src/mindustry/world/blocks/defense/turret...   3894
3311  core/src/mindustry/world/blocks/defense/turret...   1438
3312  core/src/mindustry/world/blocks/defense/turret...   2290
3313  core/src/mindustry/world/blocks/defense/turret...   5813
3314  core/src/mindustry/world/blocks/defense/turret...  24343

[3315 rows x 2 columns]

In [52]:
print("Data before cleaning:")
print(files_df.isnull().sum())
print(files_df.dtypes)

Data before cleaning:
path    0
size    0
dtype: int64
path    object
size     int64
dtype: object

In [40]:
# Xử lí dữ liệu
files_df = files_df.dropna(subset=['path', 'size'])
files_df = files_df.drop_duplicates(subset='path')

files_df['path'] = files_df['path'].str.lower()
files_df['extension'] = files_df['path'].apply(lambda x: x.split('.')[-1] if '.' in x else 'no_extension')

files_df = files_df.drop(columns= 'path', axis= 1)

In [41]:
# Kiểm tra dữ liệu đã xử lí
print("Files data after cleaning:")
print(files_df.isnull().sum())
print(files_df.dtypes)

Files data after cleaning:
size         0
extension    0
dtype: int64
size          int64
extension    object
dtype: object

In [42]:
# Lưu dữ liệu đã xử lí
files_df.to_csv('data_cleaned/files.csv', index= False)